<header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
              
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="https://thesoulofskin.de">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <br>
                                <img src="../../assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                                <!-- Light Logo icon -->
                               <!-- <img src="../../assets/images/logo-icon.png" alt="homepage" class="light-logo">-->
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                               <!-- <img src="../../assets/images/logo-text.png" alt="homepage" class="dark-logo"> -->
                                <!-- Light Logo text -->
                               <!-- <img src="../../assets/images/logo-light-text.png" class="light-logo" alt="homepage"> -->
                            </span>
                        </a>
                    </div>
                     
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
               <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                     <li class="nav-item dropdown" >
                         <br>
                     </li> 
                    <li class="nav-item dropdown" >
                         <a class="fas fa-envelope" style="font-size:19px; padding:20px;" href="https://login.yahoo.com/"><i> thesoulofskin@yahoo.com </i> </a>
                    </li>           
                     <li class="nav-item dropdown" >
                         <a class="fas fa-phone-square" style="font-size:19px; padding:20px;" href="#"><i> +491 522 6354 555  </i> </a>
                     </li>           
                </ul>
                 <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="../../../assets/images/users/account_2.jpg" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ml-2 d-none d-lg-inline-block"><span>Hallo,</span> <span
                                        class="text-dark">Minja Šinković</span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                
                                
                                <a class="dropdown-item"   href="/logout" ><i data-feather="power" class="svg-icon mr-2 ml-1"></i>Abmelden</a>
                                
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </nav>
        </header>