<aside class="left-sidebar" data-sidebarbg="skin6">
           <div class="scroll-sidebar" data-sidebarbg="skin6">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"></li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">The soul of skin admin</span></li>
                        
                        <li class="sidebar-item"> 
                          <a class="sidebar-link has-arrow" href="#" aria-expanded="false">
                             <i data-feather="file-text" class="feather-icon"></i>
                             <span class="hide-menu"> Blog admin </span>
                          </a>
                            
                            
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="/admin/home" class="sidebar-link"><span
                                            class="hide-menu">Beitrag
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="/admin/comment" class="sidebar-link"><span
                                            class="hide-menu">Kommentar
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="/admin/message" class="sidebar-link"><span
                                            class="hide-menu">Nachricht
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu">Galerie
                                        </span></a>
                                </li>
                                
                                
                                
                            </ul>
                        </li>
                       
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Website</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span
                                    class="hide-menu">Home</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu">...
                                        </span></a>
                                </li>
                                <li class="sidebar-item"><a href="#" class="sidebar-link"><span
                                            class="hide-menu">...
                                        </span></a>
                                </li>
                                
                            </ul>
                        </li>
                       </ul>
                </nav>
               
            </div>
           
        </aside>