<footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>Über mich</h3>
            <div class="item">
               <div  class="block-33 h-100">
                  <div class="vcard d-flex mb-3">
                    <div class="image align-self-center"><a href="/about"><img src="../../../website/images/person_2.jpg" alt="Person here"></a></div>
                    <div class="name-text align-self-center">
                      <h2 class="heading">Minja Sinkovic</h2>
                      <span class="meta">Pharmacist</span>
                    </div>
                    
                  </div>
                  <p>Hallo, ich bin Minja!</p>
                    <p>
                      Mein Wunsch ist mein Wissen mit euch zu teilen und euch zu helfen,
                       sich äußerlich und innerlich auf angemessene und sanfte Weise zu pﬂegen und sich in eurer Haut wohl zu fühlen! 
                      Viel Spaß beim Lesen! </p>
                  </div>
                  
              </div>
            
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="https://www.instagram.com/thesoulofskin" target="_blank" class="p-2"><span class="fa fa-instagram"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              
            </ul>

          </div>
          <div class="col-md-5 mb-5 pl-md-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block"><span class="d-block">Email:</span><span >thesoulofskin@yahoo.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="/">Home</a></li>
              <li><a href="/skin">Skincare</a></li>
              <li><a href="/life">Lifestyle</a></li>
              <li><a  href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/impressum">Impressum</a></li>
              <li><a href="/datenschutz">Datensutz</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        
        
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All Rights Reserved
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          
          
          
          </div>
        </div>
      </div>
    </footer>