 <header role="banner" style="background-color: #000000d6;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand " href="/" style="font-size: 12px;">THE SOUL OF SKIN</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5 ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/skin">Skincare</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/life">Lifestyle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/impressum">Impressum</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/datenschutz">Datenshutz</a>
              </li>
            </ul>

            <div class="navbar-nav ml-auto">
            
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="https://www.instagram.com/thesoulofskin" target="_blank" class="p-2"><span class="fa fa-instagram"></span></a></li>
               <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
             
             
              
              
            </ul>
              
            </div>
            
          </div>
        </div>
      </nav>
    </header>
 
  <div class="top-shadow"></div>
    
    <div class="slider-item" style="background-color:white">
      <div class="container">
       <div class="row slider-text align-items-center justify-content-center"> 
          <div class="col-lg-9 text-center col-sm-12 element-animate">
            <h1 class="mb-4"><span>The Soul of Skin</span></h1>
           
            
        
        </div>
        </div>
      </div>
    </div>
     
 
 
 
 
 
 
 
 
 
 
 
