<!DOCTYPE html>
<html dir="ltr"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Error | The soul of skin.</title>
    <link rel="stylesheet" type="text/css" href="../assets/extra-libs/prism/prism.css">
    <link href="../dist/css/style.min.css" rel="stylesheet">

</head>

<body>
    <div class="main-wrapper">
       
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url(../../../assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row">
            
            <div class="card text-white bg-danger">
                            <div class="card-header">
                                <h4 class="mb-0 text-white">Error</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-white">Error 404.</h3>
                                <p class="card-text">Die Anforderung konnte vom Server nicht erkannt werden.</p>
                                <p class="card-text">Wenn der Fehler weiterhin besteht, wenden Sie sich an Ihren Administrator.</p>
                                <a href="/admin/home" class="btn btn-warning">Zurück zur Homepage ...</a>
                            </div>
                        </div>  
            </div>
        </div>
    </div>
      <script src="../assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="../assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
     <script>
        $(".preloader ").fadeOut();
    </script>
</body>

</html>