<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
    
    <!-- HEAD -->
    <th:block th:replace="website/partials/_head"></th:block>
  
  <body>
    
    <!-- HEADER -->
    <th:block th:replace="website/partials/_header"></th:block>
   

   

      <!-- CONTENT -->
     <div class="section">
      <div class="container">
      <div class="row">
 

        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
          <div class="col-md-8 text-center">
            <h2 class="heading mb-4">About me</h2>
            <div class="media d-block media-custom text-center">
              <a href="#"><img src="../../website/images/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h3 class="mt-0 text-black">Minja Sinkovic</h3>
              </div>
            </div>
           
            <p class="mb-5 lead">Wie weit bist Du von der Frau, die Du wirklich sein willst, entfernt ?</p>
            <p class="mb-5 lead">Ich bin Minja, 31 Jate alt, lebe in Berlin. Von Beruf bin ich Pharmazeutin,
               Spezialist für Hautpﬂege und Kosmetik, und Apothekerin. Der Blog entstand aus meinem Wunsch heraus, 
               all das Wissen, das ich im Laufe der Jahre gesammelt habe, mit euch zu teilen und euch zu helfen,
               sich äußerlich und innerlich auf angemessene und sanfte Weise zu pﬂegen und sich in eurer  Haut wohl zu fühlen! </p>
              <p class="mb-5 lead">Nur wenn wir außen genährt und innen ausgeglichen sind,
                 fühlen wir uns in unserer Haut wunderbar und können unser volles Potenzial frei entfalten! 
                 </p>
                <p class="mb-5 lead">Ich würde mich freuen, wenn dieser Blog Dich dazu inspirieren würde, die beste und schönste Version von Dir selbst zu sein!
                  Schön dass Du da bist!</p>
              <p><a href="/contact" class="btn btn-primary btn-sm px-3 py-2">Kontaktieren Sie mich...</a></p>
          </div>
        </div>         
         </div>
    </div>
  </div>
 
    
    
    <!-- FOOTER -->
    <th:block th:replace="website/partials/_footer"></th:block>

    
    <!-- SCRIPT -->
    <script src="../../website/js/jquery-3.2.1.min.js"></script>
    <script src="../../website/js/popper.min.js"></script>
    <script src="../../website/js/bootstrap.min.js"></script>
    <script src="../../website/js/owl.carousel.min.js"></script>
    <script src="../../website/js/jquery.waypoints.min.js"></script>
    <script src="../../website/js/jquery.fancybox.min.js"></script>
    <script src="../../website/js/main.js"></script>
  </body>
</html>