<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" >

 <!-- HEAD -->
    <th:block th:replace="website/partials/_head"></th:block>
  
    

<body>
<header role="banner"  style="background-color: #000000d6;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand " href="/about">BY MINJA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5 ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/skin">Skincare</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/life">Lifestyle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/impressum">Impressum</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/datenschutz">Datenshutz</a>
              </li>
            </ul>

            <div class="navbar-nav ml-auto">
            
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>
            </div>
            
          </div>
        </div>
      </nav>
    </header> 
    


  
 
 <!-- CONTENT -->
  <div class="section">
    <div class="container" style="border-top: 1px solid #c7cacd;">
      
                   <!-- **************************INFORMATION FROM RESPONSE SAVE************************************* -->
                    <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${saveSuccess}">
                    
                      <strong th:text="${saveSuccess}"></strong>
                    </div>
                    
                    <!-- **************************INFORMATION FROM RESPONSE ERROR************************************* -->
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert" th:if="${error}">
                      
                      <strong th:text="${error}"></strong>
                   </div>
                    
    
    
    
      <div class="row" >
     
         
        <div class="col-lg-8">
       
          <figure class="row" th:each = "file, itrStat : ${listOfImg}"  >
            <img th:src="@{'../../images/' + ${file.modifiedFileName}}"    alt="Image" class="img-fluid">
            <figcaption></figcaption>
          </figure>
          
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
             <div class="name-text align-self-center">
                  <span class="text-muted font-14" th:text=${objOfBlog.viewDate} ></span>
             </div>
             <h4 class="mb-5" th:text= "${objOfBlog.title}"></h4>
           </div>
         </div>
          
          
          <textarea name="text" id="message" class="form-control" th:text= "${objOfBlog.body}"  rows="15" cols="100" disabled="disabled" style="background-color: white; text-align: justify; border: none;" ></textarea>
          
          <p class="mb-5"  th:text= "${objOfBlog.footer}"></p>
     
       <div class="btn btn-light"><a href="/" class="reply rounded">Zurück nach Homepage </a></div>
            


   <!-- COMMENT SHOW -->
     <div class="pt-5">
            <h3 class="mb-5">Kommentare</h3>
            <ul class="comment-list" th:each = "comment : ${listOfComment}"  >
              <li class="comment">
                <div class="vcard">
                  <img src="../../website/images/person_unisex.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3 th:text= "${comment.nickname}" ></h3>
                  <div class="meta" th:text= "${comment.showDate}"></div>
                  <p th:text= "${comment.text}"></p>
                  <!-- <p><a href="#" class="reply rounded">Reply</a></p> -->
                </div>
              </li>
  
            </ul>
      
      <!-- COMMENT LEAVE -->       
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Hinterlasse einen Kommentar</h3>
              
              <form th:action="@{'/saveComment'}" th:object="${objOfComment}" method="post" class="p-5 bg-light">
                <div class="form-group">
                  <p class="d-flex">
                      <span>(*) damit ein Kommentar veröffentlicht werden kann, müssen die markierten Felder ausgefüllt werden:</span>
                  </p>
                  <label for="name">Name *</label>
                  
                  <input type="text" class="form-control" th:field="*{nickname}">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" class="form-control" th:field="*{email}">
                </div>
  
                <div class="form-group">
                  <label for="message">Kommentar</label>
                  <textarea name="" id="message" cols="30" rows="10" class="form-control" th:field="*{text}"></textarea>
                </div>
                
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="phone">Datenschutz*</label>
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="true"  name="dataAccept" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">Mit dem Absenden dieses Kommentars akzeptiere ich die Datenschutzerklärung von The Soul of skin.</label>
                    </div>
                     
                    </div>
                    </div>
                 <div class="form-group">
                  <input type="submit" value="KOMMENTAR ABSENDEN" class="btn btn-primary">
                </div>
                
                <input type="hidden" th:value="${objOfBlog.id}" class="form-control" id="blog"  name="blog" >
  
              </form>
            </div>
          </div>
          
        </div>
         <div th:replace="website/partials/_side"></div>
        
      
      </div>
    </div>
  </div>
  
  
  
  
  <!-- FOOTER  -->
  <div th:replace="website/partials/_footer"></div>

  

  <!-- SCRIPT -->
    <script src="../../website/js/jquery-3.2.1.min.js"></script>
    <script src="../../website/js/popper.min.js"></script>
    <script src="../../website/js/bootstrap.min.js"></script>
    <script src="../../website/js/owl.carousel.min.js"></script>
    <script src="../../website/js/jquery.waypoints.min.js"></script>
    <script src="../../website/js/jquery.fancybox.min.js"></script>
    <script src="../../website/js/main.js"></script>
</body>

</html>